#cart {
	a {
		text-decoration: none;
	}
	table {
		border: 1px solid #dfe4e6;
		width: 100%;
		th {
			border-right: 1px solid #e7e7e7;
			font-size: 11px;
			text-transform: uppercase;
			font-weight: 700;
		}
		td {
			border-right: 1px solid #e7e7e7;
		}
	}
	table td,
	table th {
		border-bottom: 1px solid #dfe4e6;
		padding: 20px;
	}
	.cart-buttons {
		margin: 20px 0;
		text-align: right;
		.btn {
			background-color: #e23e1d;
			color: #fff;
			border-color: #e23e1d;
			padding: 0 25px;
			text-transform: uppercase;
			line-height: 34px;
			height: 36px;
			letter-spacing: 0.05em;
			font-weight: 500;
			border-radius: 0;
		}
	}
	.add-comments {
		border-bottom: 1px solid #eaeaea;
		font-size: 14px;
		font-weight: 700;
		letter-spacing: 0.05em;
		padding-bottom: 16px;
		padding-top: 36px;
		text-transform: uppercase;
	}
	#cartSpecialInstructions {
		clear: both;
		display: block;
		margin-bottom: 21px;
		min-height: 225px;
		width: 100%;
	}
	.cart {
		font-size: 22px;
		font-weight: 300;
	}
}
.left-300 {
	left: -320px;
}
.product-inner-cart {
	width: 180px;
	float: left;
	padding-left: 0;
}

.btn-remove-cart {
	position: absolute;
	top: 50px;
	right: 30px;
	padding-right: 0;
	line-height: 14px;
	font-size: 20px;
	margin-bottom: 0;
}
.summary-cart,
.actions {
	top: 75%;
	position: absolute;
	border-top: 1px solid white;
	width: 100%;
}
.fs-1 {
	font-size: 18px !important;
}
.view-cart {
	span {
		text-align: center;
		background: #000;
		color: #fff;
		text-transform: uppercase;
		border-radius: 0;
		font-weight: 400;
		line-height: 40px;
		height: 40px;
		margin-top: 15px;
		width: auto;
		padding: 0 25px;
		letter-spacing: 3px;
		&:hover {
			background: #333;
		}
	}
}
