$border-color: #ebebeb;
$expired: #4c4c4c;
$section-text: #777;
$white: white;
$primary: #e23e1d;

li {
	position: relative;
	padding-left: 0;
	margin-bottom: 0;
}
.p-side-dropdown {
	.side-dropdown {
		width: 220px;
		height: 40px;
		border: 1px solid rgba(233, 233, 233, 0.8);
	}
}

span {
	.menu-title {
		font-size: 14px;
		font-weight: 400;
		letter-spacing: 0.5px;
		text-transform: capitalize;
	}
}

.block-right-item {
	padding-bottom: 20px;
	position: relative;
	.content-block {
		position: absolute;
		left: 30px;
		top: 14%;
		z-index: 2;
	}
}
.carousel-caption {
	bottom: 20%;
	left: 10%;
	.title {
		font-weight: 500;
		font-size: 36px;
		text-transform: uppercase;
		line-height: 36px;
		margin: 0 0 5px;
		letter-spacing: 1px;
	}
	.text {
		a {
			padding: 0 30px;
			border-radius: 30px;
			display: inline-block;
			transition: all 0.3s ease-in-out 0s;
			text-transform: uppercase;
			font-weight: 400;
			font-size: 14px;
			letter-spacing: 1px;
			height: 42px;
			line-height: 41px;
			margin-top: 25px;
			border: 2px solid $primary;
		}
		a:hover {
			background: $primary;
			color: white;
		}
	}
	.carousel-control-prev {
		.prev {
			left: 0;
		}
	}
}
.product-content-top {
	padding: 0 20px;
	text-align: left;
	.product-title {
		font-size: 14px;
		line-height: 20px;
	}
}
p.product-vendor span {
	font-size: 12px;
	text-transform: uppercase;
	line-height: 30px;
	color: #4c4c4c;
}
.section-main-big {
	.section-title {
		border-bottom: 1px solid $border-color;
		position: relative;
		padding: 10px 0;
		font-size: 18px;
	}
	.section-title::after {
		content: "";
		background: $primary;
		width: 70px;
		height: 3px;
		position: absolute;
		z-index: 1;
		left: 0;
		bottom: 0;
	}
}

.add-to-link {
	border-radius: 3px;
	width: auto;
	text-align: center;
	z-index: 10;
	position: absolute;
	left: 20px;
	right: 20px;
	bottom: 100px;
	background: #f0f2f9;
	visibility: hidden;

	.sca-qv-button {
		padding: 0;
		font-size: 14px;
		text-transform: uppercase;
		height: 40px;
		line-height: 40px;
		font-weight: 500;
	}
}
.product-side:hover .add-to-link,
.new-arrivals-product:hover .add-to-link,
.new-arrivals-product:hover a {
	visibility: visible;
}

.carousel-inner {
	.carousel-side-img {
		width: 80%;
		height: auto;
		border: 0;
		transition: all 250ms ease-in-out 0s;
	}
	.product-content-bottom {
		border-top: 0;
		padding-top: 10px;
		height: auto;
		margin-top: 20px;
	}
}
.card {
	padding: 0 10px;
}
.caption {
	bottom: 15px;
	margin-bottom: 0;
	width: 100%;
	text-align: center;
	left: 0;
	top: 70%;
}
.product-content-bottom {
	.price-box {
		font-size: 14px;
		i {
			color: rgb(241, 205, 105);
			font-size: 12px;
		}
		.expired-text {
			color: $expired;
		}
	}
}
.carousel-inner {
	.product-side {
		border: 2px solid $primary;
	}
}
#side-carousel {
	.carousel-control-prev {
		bottom: 100%;
		margin-left: 250px;
		margin-top: -55px;
		opacity: 1;
	}
	.carousel-control-next {
		bottom: 100%;
		margin-top: -55px;
		opacity: 1;
	}
}
.carouselExampleControlss {
	.product-image {
		padding: 10px 30px;
	}
	img {
		width: 138px;
		height: 157px;
	}
	.carousel-control-prev {
		bottom: 100%;
		margin-left: 150px;
		margin-top: -55px;
		opacity: 1;
	}
	.carousel-control-next {
		bottom: 100%;
		margin-top: -55px;
		opacity: 1;
	}
}
.carousel-control-next span:hover,
.carousel-control-prev span:hover {
	background-color: black;
	color: white;
}
.text-section-gray {
	color: $section-text;
}
.new-arrivals-product {
	border: 1px solid $border-color;
}
.new-arrivals-product-shadow {
	box-shadow: rgba(0, 0, 0, 0.2) 0 8px 22px;
}

.carouselExampleControlss {
	.product-imagee {
		padding: 10px 15px;
	}
	.product-content-bottom {
		.add-to-cart {
			a {
				padding: 0 30px;
				border-radius: 30px;
				display: inline-block;
				transition: all 0.3s ease-in-out 0s;
				text-transform: uppercase;
				font-weight: 400;
				font-size: 14px;
				letter-spacing: 1px;
				height: 42px;
				line-height: 41px;
				margin-top: 25px;
				background: $primary;
				color: white;
				opacity: 0;
			}
		}
	}
	.add-to-cart {
		a:hover {
			opacity: 1;
		}
	}
}
.col-half {
	max-width: 18%;
}
.block-category-items {
	position: relative;
	.category-block {
		position: absolute;
		top: 50%;
		left: 8%;
		transform: translateY(-50%);
		.text-muted {
			font-size: 14px;
			color: #b7b7b7;
			text-decoration: line-through;
			font-weight: 300;
			padding-left: 6px;
		}
		.buy-now {
			padding: 0 22px;
			border-radius: 30px;
			display: inline-block;
			transition: all 0.3s ease-in-out 0s;
			text-transform: uppercase;
			font-size: 14px;
			letter-spacing: 1px;
			height: 42px;
			line-height: 41px;
			border: 2px solid $primary;
		}
		.buy-now:hover {
			background-color: $primary;
			color: white;
		}
	}
}
.custom-image-left,
.latest-blog-side,
.recent-view-products {
	border: 1px solid $border-color;
}
.recent-view-products:hover {
	border: 1px solid $border-color;
}
.product-content-bottom {
	.add-to-cart {
		a {
			padding: 0 30px;
			border-radius: 30px;
			display: inline-block;
			transition: all 0.3s ease-in-out 0s;
			text-transform: uppercase;
			font-weight: 400;
			font-size: 14px;
			letter-spacing: 1px;
			height: 42px;
			line-height: 41px;
			margin-top: 25px;
			background: $primary;
			color: white;
			opacity: 0;
		}
	}
}
.add-to-cart {
	a:hover {
		opacity: 1;
	}
}
.product-imagee {
	padding: 10px 15px;
}
@media (max-width: 420px) {
	.col-half {
		max-width: 100%;
	}
	.add-to-cart {
		display: none;
	}
	.footer-icon-share {
		display: block;
	}
	.banner-top {
		display: none;
	}
	.gap {
		margin-top: 15px;
	}
	.header-inner-right {
		padding-left: 0 !important;
	}
	.product-responsivness {
		text-align: center;
		.mll-3 {
			margin-left: 0 !important;
		}
		.w-100 {
			width: 89px !important;
			text-align: center;
		}
		.w-50 {
			width: 38px !important;
		}
	}
	.header-top-left {
		line-height: 20px !important;
		padding-right: 0 !important;
	}
	.navbar-expand-lg {
		.pull-right {
			float: none !important;
		}
	}
	.navbar-toggler {
		margin: 0 auto;
		margin-left: 250px;
	}
	.navbar-brand {
		padding-left: 20px;
	}
	.login-customer {
		padding-left: 35px;
	}
	.main-nav {
		padding: 10px 75px 10px;
	}
	.sticky-top {
		box-shadow: 0 0 3px 2px #eaeaea;
	}
}

.label-new {
	line-height: 18px;
	background: #333 none repeat scroll 0 0;
	border-radius: 1px;
	color: $white;
	font-size: 10px;
	font-weight: 300;
	left: 50%;
	padding: 0 5px;
	position: absolute;
	top: -8px;
	z-index: 9;
}
.label-new::before {
	border-color: #333 transparent $white;
	border-style: solid;
	border-width: 6px 4px 0 0;
	bottom: -6px;
	content: "";
	left: 6px;
	position: absolute;
}
