$primary: #e23e1d;
$black: #000;
$grey: #eee;
.font-weight-400 {
	font-weight: 400;
}
.font-weight-500 {
	font-weight: 500;
}
.container {
	padding: 0 75px;
	max-width: 100%;
}
.text-dec-none {
	text-decoration: none;
}
.text-color-primary {
	color: $primary;
}
.font-weight-300 {
	font-weight: 300;
}
.text-color-black {
	color: $black;
}
.b-none {
	border: none;
}
.br-none {
	border-radius: none;
}
.bg-grey {
	background-color: $grey;
}
.op-1 {
	opacity: 1;
}
.font-size-16 {
	font-size: 16px;
}
.w-30 {
	width: 30%;
}
.text-blog-gray {
	color: #b7b7b7;
}
.font-size-13 {
	font-size: 13px;
}
.w-50 {
	width: 50%;
}
.mll-3 {
	margin-left: 30px;
}
.pl-6 {
	padding-left: 7rem;
}
.pl-1 {
	padding-left: 1.5rem;
}
.pl-7 {
	padding-left: 9.4rem;
}
.op-0 {
	opacity: 0;
}
.visible {
	visibility: visible;
	opacity: 1;
}
.margin-left {
	margin-left: 100px;
}
